@import 'src/assets/scss/variables';
.toggle {
    display: inline-block;
    margin: 0px;
    cursor: pointer;
    vertical-align: top;
    span {
      background: #cccccc;
      display: block;
      width: 50px;
      height: 20px;
      border-radius: 20px;
      position: relative;
      transition: all 0.3s ease;
      &:before {
        content: "";
        position: absolute;
        left: 2px;
        top: 2px;
        height: 16px;
        width: 16px;
        background: white;
        border-radius: 100%;
        transition: all 0.3s ease;
        transform: translate(0px);
      }
    }
    input {
      display: none;
  
      &:checked + span {
        background: $theme;
        &:before {
          transform: translate(30px);
        }
      }
    }
  }