

<div class="row justify-content-center">
        <div class="col-md-3">
            <div class="bg-primary rounded px-4 py-5 text-center text-white">
                <h5>No Financial Information was <br/>provide to get liquid solutions</h5>
                <div class="my-4"><img height="80" src="assets/images/financial.svg" /></div>
                <a href="#" routerLink="financial-information" class="btn btn-light">Get Started</a>
              
            </div>
        </div>
    
    </div>