@font-face {
  font-family: "fabric";
  src: url(assets/fonts/fabric/fabricmdl2icons-2.35.woff2) format("woff2"),
    url(assets/fonts/fabric/fabricmdl2icons-2.35.woff) format("woff"),
    url(assets/fonts/fabric/fabricmdl2icons-2.35.ttf) format("truetype");
  font-style: normal;
}
body {
  font-family: $font-normal;
  font-size: 14px;
  color: $font-color;
  // overflow-y: scroll;
}
h1,
h2,
h3 h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: normal;
  font-family: $font-bold;
}
.fabric {
  font-family: "fabric";
  font-style: normal;
  vertical-align: middle;
}
// *:not(input) {
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }
// p{
//   font-family: $font-exp;
// }
a:hover {
  text-decoration: none;
}
small.err {
  display: block;
  color: $err-msg;
  font-family: $font-exp;
  &:before {
    font-family: "fabric";
    content: "\F331";
    vertical-align: middle;
    margin-right: 2px;
  }
}
.form-control.err,
.custom-file-input.err,
.custom-file-label.err,
.custom-select.err {
  border-color: $err-msg;
}
.security-txt {
  color: #999999;
  text-align: center;
}
.in-active {
  filter: grayscale(100%);
}
.submit-btn {
  justify-content: center;
  align-items: center;
  .btn {
    letter-spacing: 1px;
  }
}
.card {
  box-shadow: $shadow;
}
.input-lg-placeholder {
  height: 50px;
}
.form-control-price {
  position: relative;
  [class^="form-control"] {
    padding-left: 30px + 0px;
  }
  &:before {
    position: absolute;
    left: 0px;
    top: 50%;
    height: 20px;
    width: 30px;
    line-height: 20px;
    margin-top: -10px;
    text-align: center;
    font-family: "Line Awesome Free";
    content: "\f156";
    font-weight: 900;
  }
}
@for $i from 1 through 20 {
  .gutters-#{$i} {
    margin-right: -#{$i}px;
    margin-left: -#{$i}px;
    > [class^="col"] {
      padding-left: #{$i}px;
      padding-right: #{$i}px;
    }
  }
}
.btn-profile {
  position: relative;
  button {
    position: relative;
    background: none;
    padding: 0px;
    height: 40px;
    line-height: 40px;
    border: 0px;
    outline: none;
    padding-left: 45px;
    font-size: 20px;
    color: $font-color;
    &:before {
      content: attr(data-val);
      position: absolute;
      left: 0px;
      top: 50%;
      height: 38px;
      line-height: 38px;
      width: 38px;
      margin-top: -19px;
      border: 1px solid $font-color;
      color: $font-color;
      border-radius: 100%;
      font-size: 20px;
      text-align: center;
    }
  }
}
.btn-explore {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  position: relative;
  padding-right: 40px;
  color: $theme;
  text-decoration: none;
  i {
    position: absolute;
    right: 0px;
    top: 50%;
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-top: -16px;
    text-align: center;
    border: 1px solid $border-color;
    color: $font-color;
    border-radius: 100%;
  }
  &:hover {
    text-decoration: underline;
    color: $theme;
    i {
      border: 1px solid $theme;
      background-color: $theme;
      color: white;
    }
  }
}
.btn-radio {
  cursor: pointer;
  input {
    display: none;
    &:checked + span {
      background-color: #28a745;
      border-color: #28a745;
      &:after {
        content: "ed";
      }
    }
  }
}
.special-badge {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align-last: center;
  font-size: 20px;
  background: $theme;
  color: white;
  border-radius: 4px;
  font-family: $font-bold;
}
.btn-outline-grey {
  border-color: $border-color;
  color: $font-color;
  &:hover {
    background-color: $theme;
    border-color: $theme;
    color: white;
  }
}
.btn-icon {
  width: 38px;
  height: 38px;
  line-height: 38px;
  padding: 0px;
  font-size: 20px;
  &.btn-sm {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
  }
  &.btn-lg {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
  }
}
.border-alpha {
  border-color: rgba(white, 0.3) !important;
}
.border-shadow {
  box-shadow: 0px 0px 0px 1px $border-color;
  background-color: white;
  &.border-shadow-primary {
    box-shadow: 0px 0px 0px 1px $theme;
  }
  &.border-shadow-dark {
    box-shadow: 0px 0px 0px 1px $bg-dark;
  }
  &.inner {
    box-shadow: inset 0px 0px 0px 1px $border-color;
  }
}
.header-text {
  height: 50px;
  line-height: 50px;
}
.grid {
  > [class^="col"] {
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 0px 1px $border-color;
  }
}
.dropdown-menu {
  border-radius: 0px;
  box-shadow: $shadow;
  border-color: $border-color;
  .dropdown-item {
    &.dropdown-item-icon {
      position: relative;
      padding: 0.5rem 1.5rem;
      padding-left: 50px;
      i {
        position: absolute;
        left: 20px;
        top: 50%;
        font-size: 20px;
        transform: translateY(-50%);
      }
    }
  }
}
.ngx-datatable .datatable-body .datatable-body-row > div {
  align-items: center;
}
.ngx-datatable.bootstrap {
  box-shadow: none;
  background: white;
  font-size: 13px;
  // * {
  //   vertical-align: top;
  // }
  .datatable-header {
    background: $grey;
    height: unset !important;
    .datatable-header-inner {
      .datatable-header-cell {
        vertical-align: bottom;
        padding: 8px 20px;
        font-family: $font-bold;
        .datatable-header-cell-label {
          line-height: 24px;
          text-transform: uppercase;
        }
      }
    }
  }
  .datatable-body {
    white-space: nowrap;
    .datatable-scroll {
      .datatable-row-wrapper {
        .datatable-body-row {
          vertical-align: top;
          border-top: 1px solid $border-color;
          align-items: center;
          &.datatable-row-even {
          }
          &.active {
            background-color: $theme;
            color: #fff;
          }
          .datatable-body-cell {
            padding: 8px 20px;
            text-align: left;
            vertical-align: top;
          }
        }
      }
    }
    .empty-row {
      position: relative;
      padding: 8px 20px;
      margin-bottom: 0;
    }
  }
  .datatable-footer {
    background: $grey;
    border-top: 1px solid $border-color;
    margin-top: -1px;
    .page-count {
      line-height: 40px;
      height: 40px;
      padding: 0 1.2rem;
    }
    .datatable-pager {
      margin: 0 10px;
      vertical-align: top;
      ul {
        li {
          margin: 10px 0px;
          &:not(.disabled).active a,
          &:not(.disabled):hover a {
            background-color: $theme;
            color: white;
            font-weight: bold;
          }
          a {
            height: 30px;
            min-width: 30px;
            line-height: 30px;
            padding: 0;
            border-radius: 30px;
            margin: 0 3px;
            text-align: center;
            vertical-align: middle;
            text-decoration: none;
            color: rgba(black, 0.5);
          }
        }
      }
      .datatable-icon-left,
      .datatable-icon-skip,
      .datatable-icon-right,
      .datatable-icon-prev {
        font-size: 18px;
        height: 30px;
        line-height: 30px;
        &:before {
          line-height: inherit;
        }
      }
    }
  }
}
typeahead-container {
  width: 100%;
}
.input {
  position: relative;
  margin-top: 8px;
  > span {
    display: block;
    position: absolute;
    left: calc(1rem - 3px);
    top: -8px;
    background: white;
    height: 16px;
    line-height: 16px;
    border-radius: 4px;
    padding: 0px 3px;
    font-size: 12px;
    color: #999;
    text-shadow: 0px 0px 0px 1px red;
    max-width: calc(100% - 20px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  // [class^='form-control'],
  // .custom-file-input,
  // .custom-file-label,
  // .custom-select{
  //   box-shadow: inset 0px 500px white;
  //   border-color: #ccc;
  // }
  [class^="form-control"],
  [class^="custom-select"] {
    padding-left: 1rem;
    box-shadow: none;
    border-color: #ccc;
    &[readonly] {
      background-color: $bg-grey;
    }
  }
  &.invalid {
    > span {
      color: $err-msg;
    }
    [class^="form-control"],
    [class^="custom-select"],
    .custom-file-label {
      // color: $err-msg;
      border-color: $err-msg;
      &::placeholder {
        color: $err-msg;
      }
    }
  }
}
.input-compact {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.inputRef {
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.head-line {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    z-index: 1;
  }
  span {
    background: white;
    padding: 0px 5px;
    position: relative;
    z-index: 2;
  }
}
.star {
  font-family: "fabric";
  font-size: 8px;
  font-weight: bold;
  color: $err-msg;
  &:before {
    content: "\F34D";
  }
}
