@import 'src/assets/scss/variables';
.fullscreen{
    background-color: red;
    position: fixed;
    left: 0px;
    top: 0px;
    height:100%;
    width: 100%;
    &__lft,&__rht{
        position: absolute;
       height: 100%;
        overflow-y: auto;   
       

    }
    &__lft{ width: calc(100% - 500px);  left: 0px; background-color: $bg-dark;}
    &__rht{ width: 500px; right: 0px; background-color: white;}
    &__inner{
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}