<layout>
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <app-footer></app-footer>
    <div [@show]="o.isActivated ? o.activatedRoute : 'admin'">
        <router-outlet #o="outlet"></router-outlet>
    </div>
</layout>