<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h5 class="m-0">Global Settings</h5>
      </div>
      <div class="col-auto">
        <button class="btn btn-primary">Add New</button>
      </div>
    </div>
  </div>
  <div>
    <ngx-datatable class="bootstrap"
    [rows]="rows"
    [columns]="columns"
    [columnMode]="'force'"
    headerHeight="50"
    footerHeight="50"
    [rowHeight]="'auto'"
    [limit]="10">
    </ngx-datatable>
    <ng-template #actions let-row="row" let-value="value">
      <div>
        <button class="btn btn-sm btn-icon btn-outline-primary" (click)="dele(row.name)"><i class="las la-pen"></i></button>
        <button class="btn btn-sm btn-icon btn-outline-danger ml-2"><i class="las la-trash"></i></button>
      </div>
    </ng-template>
  </div>
</div>

