<div [formGroup]="cc.control">
    <div class="card-body">
        <div class="row">
            <div class="col-md-9">
                <div class="row gutters-5">
                    <div class="col-md-4">
                        <div class="form-group mb-md-0">
                            <label>Number of Collateral Shares</label>
                            <input type="text" class="form-control form-control-lg" formControlName="no_of_collateral_shares" [ngClass]="{err:cc.control.get('no_of_collateral_shares').errors?.required && submitted || cc.control.get('no_of_collateral_shares').errors?.pattern}" />
                            <small class="err" *ngIf="cc.control.get('no_of_collateral_shares').errors?.required && submitted">No of Collateral Shares Required</small>
                            <small class="err" *ngIf="cc.control.get('no_of_collateral_shares').errors?.pattern">Allow numbers only</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mb-md-0">
                            <label>Number of ISOs Exercising</label>
                            <input type="text" class="form-control form-control-lg" formControlName="no_of_isos_exercising" [ngClass]="{err:cc.control.get('no_of_isos_exercising').errors?.required && submitted || cc.control.get('no_of_isos_exercising').errors?.pattern}" />
                            <small class="err" *ngIf="cc.control.get('no_of_isos_exercising').errors?.required && submitted">No of ISOs Exercising Required</small>
                            <small class="err" *ngIf="cc.control.get('no_of_isos_exercising').errors?.pattern">Allow numbers only</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group mb-md-0">
                            <label>Number of NSOs Exercising</label>
                            <input type="text" class="form-control form-control-lg" formControlName="no_of_nsos_exercising" [ngClass]="{err:cc.control.get('no_of_nsos_exercising').errors?.required && submitted || cc.control.get('no_of_nsos_exercising').errors?.pattern}" />
                            <small class="err" *ngIf="cc.control.get('no_of_nsos_exercising').errors?.required && submitted">No of NSOs Exercising Required</small>
                            <small class="err" *ngIf="cc.control.get('no_of_nsos_exercising').errors?.pattern">Allow numbers only</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group mb-md-0">
                    <label>Additional Liquidity Requested</label>
                    <input type="text" class="form-control form-control-lg" formControlName="additional_liquidity_requested" [ngClass]="{err:cc.control.get('additional_liquidity_requested').errors?.required && submitted || cc.control.get('additional_liquidity_requested').errors?.pattern}" />
                    <small class="err" *ngIf="cc.control.get('additional_liquidity_requested').errors?.required && submitted">Additional Liquidity Required</small>
                    <small class="err" *ngIf="cc.control.get('additional_liquidity_requested').errors?.pattern">Allow numbers only</small>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark">
        <app-chart></app-chart>
    </div>
    <div class="card-footer">
        <!-- {{cc.control.status}} -->
        <div class="row">
            <div class="col-md-auto my-2 my-md-0">
                <button class="btn btn-lg btn-block btn-outline-grey"
                    (click)="previous('non-disclosure-agreement')">Back</button>
            </div>
            <div class="col-md-auto ml-md-auto my-2 my-md-0">
                <button class="btn btn-lg btn-block btn-primary" (click)="next('liquidity-solution')">Submit</button>
            </div>
        </div>
    </div>
</div>