@import 'src/assets/scss/variables';
@import 'src/assets/scss/extends';
.sidebar{

    padding: 20px;

   .nav{
       .nav-item{
           .nav-link{
               color: $font-color;
               &:hover{
                   color: $theme;
               }
               &.active{
                color: $theme;
               }
           }
       }
   }
    
}

