<div [formGroup]="cc.control">
        <div class="card-body">
                <div class="border p-4 rounded" *ngIf="!finalize">
                    <h5>Definitive Proposal</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</p>
                    <button class="btn btn-primary" type="button" (click)="finalized()">Finalize</button>
                </div> 
                <small class="err" *ngIf="!finalize && submitted">Proof of Residence Required</small>
                <div class="row mt-4" *ngIf="finalize">
                    <div class="col-md-4">
                        <h6>Approve Background & Credit Check</h6>
                        <div class="form-group">
                            <div class="row align-items-center no-gutters">
                                <div class="col-auto">

                                        <app-toggle formControlName="background_check"></app-toggle>
                                  
                                </div>
                                <div class="col pl-2">
                                    If they agree to receive a background and credit check ?
                                </div>
                            </div>
                        </div>
                        
                        <h6>Marital Status</h6>
                     
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="single" name="marital_status" class="custom-control-input"  formControlName="marital_status" value="single">
                                <label class="custom-control-label" for="single">Single</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="married" name="marital_status" class="custom-control-input"  formControlName="marital_status" value="married">
                                <label class="custom-control-label" for="married">Married</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="divorced" name="marital_status" class="custom-control-input"  formControlName="marital_status" value="divorced">
                                <label class="custom-control-label" for="divorced">Divorced</label>
                            </div>
                        </div>
                        <div>
                                <h6>Upload Drivers License</h6>
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="up"  formControlName="drivers_license">
                                        <label class="custom-file-label" for="up" [ngClass]="{err:cc.control.get('drivers_license').errors?.required && submitted}">Choose file</label>
                                    </div>
                                    <small class="err" *ngIf="cc.control.get('drivers_license').errors?.required && submitted">Drivers License Required</small>
                                </div>
                        </div>
                        
                        <div *ngIf="cc.control.get('marital_status').value == 'married'">
                                <h6>Upload Spouse's Driving License</h6>
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="up"  formControlName="drivers_license2">
                                        <label class="custom-file-label" [ngClass]="{err:cc.control.get('drivers_license2').errors?.required && submitted}" for="up">Choose file</label>
                                    </div>
                                    <small class="err" *ngIf="cc.control.get('drivers_license2').errors?.required && submitted">Spouse Drivers License Required</small>
                                </div>
                        </div>   
                        <h6>Proof of Residence</h6>
                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="up"  formControlName="proof_of_residence">
                                <label class="custom-file-label" for="up" [ngClass]="{err:cc.control.get('proof_of_residence').errors?.required && submitted}">Choose file</label>
                                <small class="err" *ngIf="cc.control.get('proof_of_residence').errors?.required && submitted">Proof of Residence Required</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <!-- {{cc.control.status}} -->
                <div class="row">
                    <div class="col-md-auto my-2 my-md-0"><button class="btn btn-lg btn-block btn-outline-grey"
                            (click)="previous('liquidity-solution')">Back</button>
                    </div>
                    <div class="col-md-auto ml-md-auto my-2 my-md-0"><button class="btn btn-lg btn-block btn-primary"
                            (click)="openModal(template2)">Submit</button>
                    </div>
                </div>
            </div>
            <ng-template #template2>
                <div class="modal-body">
                    <p>Thank you for choosing Liquid Stock. We will review your Application for approval within 5
                        business days, but typically we respond within 48 hours.” Within that time period the Investment
                        Committee will meet and we will approve or deny the transaction, and provide the Counterparty
                        with a Private Advance Agreement.</p>
                    <button class="btn btn-primary" (click)="next('private-advance-agreement')">Ok</button>
                </div>
            </ng-template>
</div>