<div [formGroup]="cc.control">
    <div class="card-body bg-light border-top p-md-5">
        <div class="row gutters-10">
            <div class="col-md-6 my-2 my-md-0">
                <div class="card h-100">
                    <div class="card-header h5">Liquid Solution 1</div>
                    <div class="bg-dark flex-grow-0">
                        <app-chart></app-chart>
                    </div>
                    <div class="list-group list-group-flush flex-grow-1">
                        <div class="list-group-item">1. No Personal Risk</div>
                        <div class="list-group-item">2. No Term Risk</div>
                        <div class="list-group-item">3. No Interest Payments</div>
                        <div class="list-group-item">4. Play by the Rules</div>
                        <div class="list-group-item">5. Maintain Ownership</div>
                        <div class="list-group-item">6. No Delay</div>
                    </div>
                    <div class="card-footer">
                        <label class="btn-radio">
                            <input type="radio" name="solution" formControlName="solution" value="2">
                            <span class="btn btn-primary">Select</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-2 my-md-0">
                <div class="card h-100">
                    <div class="card-header h5">Liquid Solution 2</div>
                    <div class="bg-dark flex-grow-0">
                        <app-chart></app-chart>
                    </div>
                    <div class="list-group list-group-flush flex-grow-1">
                        <div class="list-group-item">1. No Personal Risk</div>
                        <div class="list-group-item">2. No Term Risk</div>
                        <div class="list-group-item">3. No Interest Payments</div>
                        <div class="list-group-item">4. Play by the Rules</div>
                    </div>
                    <div class="card-footer">
                        <label class="btn-radio">
                            <input type="radio" name="solution" formControlName="solution" value="1">
                            <span class="btn btn-primary">Select</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <small class="err d-block text-center mt-3" *ngIf="cc.control.get('solution').errors?.required && submitted">Select Solution Required</small>
                       
    </div>
    <div class="card-footer">
        <!-- {{cc.control.status}} -->
        <div class="row">
            <div class="col-md-auto my-2 my-md-0"><button class="btn btn-lg btn-block btn-outline-grey"
                    (click)="previous('decision-support-model')">Back</button>
            </div>
            <div class="col-md-auto ml-md-auto my-2 my-md-0"><button class="btn btn-lg btn-block btn-primary"
                    (click)="openModal(template1)">Submit</button>
            </div>
        </div>
    </div>
    <ng-template #template1>
        <div class="modal-body">
            <p>Thank you for submitting your information for a Liquid Solution. Because each Liquid Solution is
                particular to individual circumstances, we will review your application and provide you with a
                Definitive Proposal within 48 hours. Normally, the Definitive Proposal is similar or the same as
                the Proposed Solution you have auto generated. We understand that the options may feel
                overwhelming! If you have any questions, please feel free to Contact Us at any time and we will
                do our best to walk you through your alternatives</p>
            <button class="btn btn-primary" (click)="next('liquidity-application')">Ok</button>
        </div>
    </ng-template>
</div>