<section class="sidebar">
<ul class="nav flex-column">
<li class="nav-item"><a href="#" routerLink="/" class="nav-link" routerLinkActive="active">Dashboard</a></li>
<li class="nav-item"><a href="#" routerLink="users" class="nav-link" routerLinkActive="active">Users</a></li>
<li class="nav-item"><a href="#" routerLink="advisors" class="nav-link" routerLinkActive="active">Advisors</a></li>
<li class="nav-item"><a href="#" routerLink="companies" class="nav-link" routerLinkActive="active">Companies</a></li>
<li class="nav-item"><a href="#" routerLink="taxes" class="nav-link" routerLinkActive="active">Taxes</a></li>
<li class="nav-item"><a href="#" routerLink="settings" class="nav-link" routerLinkActive="active">Global Settings</a></li>
<li class="nav-item"><a href="#" routerLink="liquid-solutions" class="nav-link" routerLinkActive="active">Liquid Solutions</a></li>
</ul>
</section>
