@import "src/assets/scss/variables";
@import "src/assets/scss/extends";
.sidebar {
  height: 100%;
  background: -webkit-linear-gradient(-45deg, $theme, adjust-hue($theme, 10%), $theme);
  padding-top: 30px;
  .nav {
    .nav-item {
      .nav-link {
        color: white;
        padding: 10px 30px;
        transition: all 0.3s ease;
        &:hover {
          background: rgba(white, 0.1);
        }
        &.active {
          background: rgba(black, 0.1);
        }
      }
    }
  }
}
@media (max-width: $break-point-mobile) {
  .sidebar {
    display: none;
  }
}
