<div class="card" [@show]="step">
    <div class="card-header h5">
        <div class="row align-items-center gutters-5">
            <div class="col-auto">
                <div class="special-badge">{{api.short(title)}}</div>
            </div>
            <div class="col">{{title | titlecase}}</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <app-steps [steps]="steps" [active]='step'></app-steps>
            </div>
        </div>
    </div>
    <form [formGroup]="form" [ngSwitch]="step">
            <app-non-disclosure-agreement *ngSwitchCase="'non-disclosure-agreement'" formGroupName="non_disclosure_agreement" (step)="go($event)"></app-non-disclosure-agreement>
            <app-decision-support-model *ngSwitchCase="'decision-support-model'" formGroupName="decision_support_model" (step)="go($event)"></app-decision-support-model>
            <app-liquidity-solution *ngSwitchCase="'liquidity-solution'" formGroupName="liquidity_solution" (step)="go($event)"></app-liquidity-solution>
            <app-liquidity-application *ngSwitchCase="'liquidity-application'" formGroupName="liquidity_application" (step)="go($event)"></app-liquidity-application>
            <app-private-advance-agreement *ngSwitchCase="'private-advance-agreement'" formGroupName="private_advance_agreement" (step)="go($event)"></app-private-advance-agreement>
             <div *ngSwitchCase="'confirm-receipt'"><div class="card-body text-center">all details comes here</div></div>
        </form>

        <!-- <div [innerHTML]="form.value | prettyprint"></div> -->
</div>