<div class="row no-gutters">
    <div class="col" *ngFor="let item of steps; let i = index">
        <div class="step" [ngClass]="{active:item.active}">
                <div>{{i+1}}</div>
                <div [innerHtml]="item.step"></div>
        </div>
    </div>
</div>