@import 'src/assets/scss/variables';
:host{
    display: block;
    .step{
        display: block;
        overflow: hidden;
        div{
            &:nth-child(1){
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background: #888888;
                color: white;
                border-radius: 100%;
                margin:0px auto;
               
                position: relative;
                &:before,&:after{
                    content: '';
                    position: absolute;               
                    top: 50%;
                    height: 1px;
                    background: #888888;
                    width: 1920px;
                }
                &:before{
                    right: 100%;
                }
                &:after{
                    left: 100%;
                }
            }
            &:nth-child(2){
                width: 100%;
                text-align: center;          
                margin:0px auto;
                font-size: 12px;
                line-height: 12px;
                margin-top: 10px;
            }
        }
        &.active{
            div{
                &:nth-child(1){
                    background: $theme;
                    &:before,&:after{
                        background: $theme;
                    }
                }
                &:nth-child(2){
                    color: $theme;
                }
            }
        }
    }
    .row{
        [class^="col"]{
            &:first-child{
                .step{
                    div{
                        &:nth-child(1){
                            &::before{
                                display: none;
                            }
                        }
                    }
                }
            }
            &:last-child{
                .step{
                    div{
                        &:nth-child(1){
                            &::after{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:$break-point-mobile){
    :host{
        .step{
           div{
               &:nth-child(1){
                   width: 25px;
                   height: 25px;
                   line-height: 25px;
               }
               &:nth-child(2){
                display: none;
               }
           }
        }
    }
  
}