<div class="solutions-tabs card">

  <nav class="card-header">
    <div class="row align-items-center mb-3">
      <div class="col">
        <h5 class="m-0">Liquid Solutions</h5>
      </div>
      </div>
    <div class="nav nav-pills">
      <a class="nav-link btn mr-3" href="javascript:void(0)" [class.active]="viewMode == 'tab1'"  (click)="switchview('tab1')">Assigned</a>
      <a class="nav-link btn" href="javascript:void(0)"  [class.active]="viewMode == 'tab2'"  (click)="switchview('tab2')">Pending</a>

    </div>
  </nav>

  <div [ngSwitch]="viewMode" class="card-body p-0">

    <div  *ngSwitchCase="'tab1'">
      <div>
        <ngx-datatable class="bootstrap"
        [rows]="rows1"
        [columns]="columns1"
        [columnMode]="'force'"
        headerHeight="50"
        footerHeight="50"
        [rowHeight]="'auto'"
        [limit]="10">
        </ngx-datatable>
        <ng-template #status1 let-row="row" let-value="value">
          <div>
            <button class="btn btn-sm btn-primary">Active</button>

          </div>
        </ng-template>
        <ng-template #actions1 let-row="row" let-value="value">
          <div>
            <button class="btn btn-sm btn-icon btn-outline-primary" (click)="dele(row.name)"><i class="las la-pen"></i></button>
            <button class="btn btn-sm btn-icon btn-outline-danger ml-2"><i class="las la-trash"></i></button>
          </div>
        </ng-template>
      </div>

    </div>
    <div  *ngSwitchCase="'tab2'">
      <div>
        <ngx-datatable class="bootstrap"
        [rows]="rows2"
        [columns]="columns2"
        [columnMode]="'force'"
        headerHeight="50"
        footerHeight="50"
        [rowHeight]="'auto'"
        [limit]="10">
        </ngx-datatable>
        <ng-template #status2 let-row="row" let-value="value">
          <div>
            <button class="btn btn-sm btn-primary">Pending</button>
          </div>
        </ng-template>
        <ng-template #actions2 let-row="row" let-value="value">
          <div class="d-flex">
            <select class="form-control mr-2" id="exampleFormControlSelect1">
              <option>Advisor1</option>
              <option>Advisor2</option>
              <option>Advisor3</option>
              <option>Advisor4</option>
              <option>Advisor5</option>
              <option>Advisor1</option>
              <option>Advisor2</option>
              <option>Advisor3</option>
              <option>Advisor4</option>
              <option>Advisor5</option><option>Advisor1</option>
              <option>Advisor2</option>
              <option>Advisor3</option>
              <option>Advisor4</option>
              <option>Advisor5</option><option>Advisor1</option>
              <option>Advisor2</option>
              <option>Advisor3</option>
              <option>Advisor4</option>
              <option>Advisor5</option><option>Advisor1</option>
              <option>Advisor2</option>
              <option>Advisor3</option>
              <option>Advisor4</option>
              <option>Advisor5</option><option>Advisor1</option>
              <option>Advisor2</option>
              <option>Advisor3</option>
              <option>Advisor4</option>
              <option>Advisor5</option><option>Advisor1</option>
              <option>Advisor2</option>
              <option>Advisor3</option>
              <option>Advisor4</option>
              <option>Advisor5</option><option>Advisor1</option>
              <option>Advisor2</option>
              <option>Advisor3</option>
              <option>Advisor4</option>
              <option>Advisor5</option><option>Advisor1</option>
              <option>Advisor2</option>
              <option>Advisor3</option>
              <option>Advisor4</option>
              <option>Advisor5</option><option>Advisor1</option>
              <option>Advisor2</option>
              <option>Advisor3</option>
              <option>Advisor4</option>
              <option>Advisor5</option><option>Advisor1</option>
              <option>Advisor2</option>
              <option>Advisor3</option>
              <option>Advisor4</option>
              <option>Advisor5</option>
            </select>
            <button class="btn btn-sm btn-outline-primary ml-2">Assign</button>
          </div>
        </ng-template>
      </div>
    </div>

  </div>
</div>
