<div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="m-0">Companies</h5>
            </div>
            <div class="col-auto">
              <button class="btn btn-primary" (click)="openModal(modal)">Add New</button>
            </div>
          </div>
        </div>
        <div>
          <ngx-datatable class="bootstrap"
          [rows]="rows"
          [columns]="columns"
          [columnMode]="'force'"
          headerHeight="50"
          footerHeight="50"
          [rowHeight]="'auto'"
          [limit]="10">
          </ngx-datatable>
          <ng-template #actions let-row="row" let-value="value">
            <div>
              <button class="btn btn-sm btn-icon btn-outline-primary" (click)="editModal(editmodal,row)"><i class="las la-pen"></i></button>
              <button class="btn btn-sm btn-icon btn-outline-danger ml-2" (click)="dele(row._id)"><i class="las la-trash"></i></button>
            </div>
          </ng-template>
        </div>
      </div>


<form [formGroup]="form">
    <ng-template #modal>
        <div class="modal-header">
          <h6 class="modal-title pull-left">Add New Company</h6>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Company Name</label>
         <input type="text" class="form-control" formControlName="companyName" [ngClass]="{err:form.get('companyName').errors?.required && submitted}" />
         <small class="err" *ngIf="form.get('companyName').errors?.required && submitted">Company Name Required</small>
          </div>
          <div class="form-group">
              <label>Last Round Valuation</label>
           <input type="text" class="form-control" formControlName="lastRoundValuation" [ngClass]="{err:form.get('lastRoundValuation').errors?.required && submitted}"/>
           <small class="err" *ngIf="form.get('lastRoundValuation').errors?.required && submitted">Last Round Valuation Required</small>
           <small class="err" *ngIf="form.get('lastRoundValuation').errors?.pattern">Allow only numeric</small>
            </div>
          <div class="form-group">
              <label>Current 409a Valuation</label>
           <input type="text" class="form-control" formControlName="current409aValuation" [ngClass]="{err:form.get('current409aValuation').errors?.required && submitted}"/>
           <small class="err" *ngIf="form.get('current409aValuation').errors?.required && submitted">Company Name Required</small>
            </div>
          <div class="form-group">
              <label>Fully Diluted ShareCount</label>
           <input type="text" class="form-control" formControlName="fullyDilutedShareCount" [ngClass]="{err:form.get('fullyDilutedShareCount').errors?.required && submitted}"/>
           <small class="err" *ngIf="form.get('fullyDilutedShareCount').errors?.required && submitted">Last Round Valuation Required</small>
            </div>


        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary" (click)="modalRef.hide()">Cancel</button>
          <button class="btn btn-primary" type="submit" (click)="add()">Add Company</button>
        </div>
      </ng-template>
</form>
<form [formGroup]="editform">
  <ng-template #editmodal>
      <div class="modal-header">
        <h6 class="modal-title pull-left">Edit</h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label>Company Name</label>
       <input type="text" class="form-control" formControlName="companyName" [ngClass]="{err:editform.get('companyName').errors?.required && submitted1}" />
       <small class="err" *ngIf="editform.get('companyName').errors?.required && submitted1">Company Name Required</small>
        </div>
        <div class="form-group">
            <label>Last Round Valuation</label>
         <input type="text" class="form-control" formControlName="lastRoundValuation" [ngClass]="{err:editform.get('lastRoundValuation').errors?.required && submitted1}"/>
         <small class="err" *ngIf="editform.get('lastRoundValuation').errors?.required && submitted1">Last Round Valuation Required</small>
         <small class="err" *ngIf="editform.get('lastRoundValuation').errors?.pattern">Allow only numeric</small>
          </div>
        <div class="form-group">
            <label>Current 409a Valuation</label>
         <input type="text" class="form-control" formControlName="current409AValuation" [ngClass]="{err:editform.get('current409AValuation').errors?.required && submitted1}"/>
         <small class="err" *ngIf="editform.get('current409AValuation').errors?.required && submitted1">Company Name Required</small>
          </div>
        <div class="form-group">
            <label>Fully Diluted ShareCount</label>
         <input type="text" class="form-control" formControlName="fullyDilutedShareCount" [ngClass]="{err:editform.get('fullyDilutedShareCount').errors?.required && submitted1}"/>
         <small class="err" *ngIf="editform.get('fullyDilutedShareCount').errors?.required && submitted1">Last Round Valuation Required</small>
          </div>


      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-primary" (click)="modalRef.hide()">Cancel</button>
        <button class="btn btn-primary" type="submit" (click)="edit()">Update</button>
      </div>
    </ng-template>
</form>
