<section class="header">
<div class="container-fluid">
    <div class="row align-items-center gutters-8">
        <div class="col">
            <a href="#" routerLink="/"><img src="assets/images/logo.png" height="30" /></a>
        </div>
        <div class="col-auto d-none d-md-block">
            <div class="btn-profile" dropdown>
                <button  dropdownToggle type="button" data-val="JB">Jin Beam <i class="la la-angle-down"></i></button>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                  <a href="#" class="dropdown-item dropdown-item-icon"><i class="las la-user"></i>Profile</a>
                  <a href="#" class="dropdown-item dropdown-item-icon"><i class="las la-calculator"></i>Tax</a>
                  <a href="#" class="dropdown-item dropdown-item-icon"><i class="las la-cog"></i>Account</a>
                  <a href="#" class="dropdown-item dropdown-item-icon" (click)="logout($event)"><i class="las la-sign-out-alt"></i>Logout</a>
                </div>
              </div>
        </div>
        <div class="col-auto d-block d-md-none">
                <button class="btn btn-sm btn-icon btn-outline-grey" (click)="menuOpen()"><i class="las la-bars"></i></button>
            </div>
    </div>
</div>
</section>

<app-drawer [open]="menu" (closed)="menuClose($event)">
        <a>Liquid Solutions</a>
        <a>Generate Liquid Solution</a>
        <a>Generate Liquid Solution</a>
        <a>Generate Liquid Solution</a>
</app-drawer>