@import 'src/assets/scss/variables';
.signature-pad{
    position: relative;
    display: inline-block;
    padding-top: 30px;
    signature-pad{
  
    border: 2px solid $border-color;
    display: block;
    border-radius: 3px;
  
    
   }
   .btn-icon{
     position: absolute;
     right:8px;
     bottom:8px;
   }
   span{
     display: block;
     position: absolute;
     left:0px;
     top:0px;
     height: 30px;
     line-height: 30px;
     padding: 0px 0px;
   }
   &.err{
    signature-pad{
      border-color: $err-msg;
    }
   }
  }