.drawer {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 200px;
  transition: all 0.3s ease;
  transform: translateX(-100%);
  background: #00b7f4;
  z-index: 999;
  padding: 40px 0px;
  &.open {
    transform: translateX(0%);
  }
  &__close {
    position: absolute;
    right: 0px;
    top: 0px;
    border: 0px;
    padding: 0px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    background: transparent;
    color: white;
    outline: none;
  }
  ::ng-deep a {
    display: block;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    &:hover {
      cursor: pointer;
      background: rgba(white, 0.2);
    }
  }
}
.drawer-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: rgba(black, 0.5);

  z-index: 998;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  &.open {
    visibility: visible;
    opacity: 1;
  }
}
