<div class="drawer" [ngClass]="{open:drawer}">
<button class="drawer__close" (click)="close()"><i class="las la-arrow-left"></i></button>
<ng-content></ng-content>
</div>
<div class="drawer-overlay" (click)="close()" [ngClass]="{open:drawer}"></div>