@import 'src/assets/scss/variables';
.admin{
    position: relative;
    background-color: $bg-grey;
    min-height: 100vh;
    padding-left: map-get($layout,sidebarWidth);
    padding-top: (map-get($layout,headerPadding) *2) + map-get($layout,logoHeight);
    .admin-body{
        padding: 20px;
        min-height: calc(100vh - #{(map-get($layout,headerPadding) *2) + map-get($layout,logoHeight) + map-get($layout,footerHeight) } );

    }
}

@media (max-width:$break-point-mobile){
    .admin{
        padding-left: 0px;
        .admin-body{
            padding: 15px;


        }
    }
}
