
<div class="card">
        <div class="card-header">
                <div class="row align-items-center">
                        <div class="col">
                                <div class="h5 m-0">Liquid Solutions</div>
                        </div>
                        <div class="col-4 col-xl-3">
                             
                                <app-search [input]="temp" [property]="'companyName'" (onSearch)="search($event)"></app-search>
                               
                        </div>
                </div>
        </div>
       
        <ngx-datatable class="bootstrap"
        [rows]="companies"
        [columns]="columns"
        [columnMode]="'force'"
        headerHeight="50"
        footerHeight="50"
        [rowHeight]="'auto'"
        [limit]="6">
        </ngx-datatable>
        <ng-template #actions let-row="row" let-value="value">
          <div>
                <a href="#" [routerLink]="['./company/',row._id]" class="btn-explore">Explore <i class="la la-arrow-right"></i></a>
           
           <button (click)="edit(row)" class="btn btn-sm btn-outline-primary btn-icon ml-2"><i class="la la-pen"></i></button>
           <button (click)="delete(row)" class="btn btn-sm btn-outline-danger btn-icon ml-2"><i class="la la-trash"></i></button>
          </div>
        </ng-template>
        <ng-template #badge let-row="row" let-value="value">
                <div class="row align-items-center">
                        <div class="col-auto"><div class="special-badge text-uppercase">{{row.companyName[0]}}</div></div>
                        <div class="col text-capitalize">{{row.companyName}}</div>
                </div>
                
        </ng-template>
      
    </div>
