@import 'src/assets/scss/variables';
@import 'src/assets/scss/extends';

.user-layout-parent
{
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 100%;
  height: 100vh;

      .layout-left
      {
        // background-image:url(./../../../assets/images/signin-banner.jpg);
        width: 65%;
        background-size: cover;
        background-position: right 100%;
        padding: 3rem;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;

        .lf-brand_logo a
        {
          display: block;
        }
        .lf-brand_logo a img
        {
          max-width: 200px;
        }

      }

      .layout-right
      {
        padding: 3rem;
        -webkit-box-flex: 1;
        flex: 1 auto;
        -ms-flex: 1 0 0px;
        min-width: 0;
        max-width: 100%;
        justify-content: center;
        align-items: center;

        .rt-layout-header
        {
          display: flex;
          justify-content: flex-end;

          a{
            font-weight: bold;
          }
        }
        .rf-brand_logo a
        {
          display: block;
        }
        .rf-brand_logo a img
        {
          max-width: 220px;
        }
        .rt-layout-body
        {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .rf-layout-form
        {
          width: 100%;
        }

      }

}
@media  (min-width: 768px) and (max-width: 1024px)
{
  .user-layout-parent
  {
    flex-direction: column;

    .layout-left
    {
      width: 100%;
      .lf-brand_logo
      {
        display: none;
      }
    }
  }

}
@media  (max-width: 768px)
{
  .user-layout-parent .layout-left
  {
    display: none;
  }
}
