<div class="user-layout-parent">
  <div class="layout-left">
    <div class="lf-grid_item">
      <div class="lf-brand_logo">
        <a href="javascript:void(0);">
          <img src="assets/images/liquid-logo-white.png" alt="liquid-stock-logo">
        </a>
      </div>
    </div>
  </div>
  <div class="layout-right">
    <div class="rt-layout-header">
      <span class="mr-2">
        Already a Member ?
      </span>
      <a [routerLink]="['./../sign-in']" class="text-primary">Sign In</a>
    </div>
    <div class="rt-layout-body py-3">
      <div class="rf-brand_logo mb-5">
        <a href="javascript:void(0);">
          <img src="assets/images/liquid-logo-black.png" alt="liquid-stock-logo">
        </a>
      </div>
  
      <div class="rf-layout-form px-5">
        <h3 class="text-center mb-3">Cryptographic Password Key</h3>
        <form [formGroup]="form" class="sign-up-form">
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" formControlName="password" placeholder="password" />
                <small class="err" *ngIf="form.controls?.password?.errors?.required && submitted">password Required</small>
            </div>
            <div class="form-group">
              <input class="form-control form-control-lg" type="text" formControlName="confirmPassword" placeholder="password" />
              <small class="err" *ngIf="form.controls?.confirmPassword?.errors?.required && submitted">confirmPassword Required</small>
          </div>
          <div class="submit-btn d-flex">
            <button class="btn btn-lg btn-primary" type="button" (click)="keygen()">Sign Up</button>
          </div>

      </form>
    </div>
    </div>
  </div>
</div>
