@import 'src/assets/scss/variables';
$loader: 60px;
$border: 3px;
  .loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    .loader-spinner {
      height: $loader;
      width: $loader;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: - ($loader / 2);
      margin-top: - ($loader / 2);
      z-index: 1;
      &:before,
      &:after {
        content: "";
        height: 100%;
        width: 100%;
        transform: rotate(0deg);
        position: absolute;
        left: 0px;
        top: 0px;
        border-radius: 100%;
        z-index: 5;
      }
      &:before { 

        border: $border solid #ccc;
      
      }
      &:after {
        border-top: $border solid $theme;
     
        animation-name: spinner;
        animation-duration: 0.6s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
    &.loaded{
        visibility: hidden;
        opacity: 0;
        transition: all 300ms ease;
    }
  }
  
  @keyframes spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  