@import 'src/assets/scss/variables';
.search{
    position: relative;
    .form-control{
        border-radius: 15px;
        padding-left: 1.5rem;
        background-color: $grey;
    }
    i{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}