<div [formGroup]="cc.control">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <h5>Approvals</h5>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="up" formControlName="approvals">
                        <label class="custom-file-label" for="up" [ngClass]="{err:cc.control.get('approvals').errors?.required && submitted}">Choose file</label>
                    </div>
                     <small class="err" *ngIf="cc.control.get('approvals').errors?.required && submitted">Signature Required</small>
                </div>
            </div>
        </div>
        <h5>Provide Wire Information</h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h5>Execute Private Advance Agreement</h5>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
            leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <app-signature formControlName="signature" [err]="cc.control.get('signature').errors?.required && submitted"></app-signature>                 
                    <small class="err" *ngIf="cc.control.get('signature').errors?.required && submitted">Signature Required</small>
                </div>
            </div>
        </div>
        <h5>Download proof that they exercised their stock options.</h5>
    </div>
    <div class="card-footer">
        <!-- {{cc.control.status}} -->
        <div class="row">
            <div class="col-md-auto my-2 my-md-0"><button class="btn btn-lg btn-block btn-outline-grey"
                    (click)="previous('liquidity-application')">Back</button>
            </div>
            <div class="col-md-auto ml-md-auto my-2 my-md-0"><button class="btn btn-lg btn-block btn-primary"
                    (click)="next('confirm-receipt')">Submit</button>
            </div>
        </div>
    </div>
</div>