<div class="card">
    <div class="card-header h5">
        <div class="row align-items-center gutters-5">

            <div class="col-auto">
                <div class="special-badge text-uppercase">{{item?.companyName[0]}}</div>
            </div>
            <div class="col text-capitalize">
                {{item?.companyName}} - Net Worth Chart
            </div>

        </div>
    </div>
  <div class="card-body p-0">
    <div class="row no-gutters">
      <div class="col-md-3">
        <div class="border-shadow h-100">
          <div class="header-text px-4 border-shadow">Filter By</div>
          <div class="p-4">
            <form [formGroup]="form">
              <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <div class="input">
                         <span>Estimate of Current Market Value of Common Stock(PPS)</span>
                         <select class="custom-select" formControlName="current_market_value" [ngClass]="{err:form.get('current_market_value').errors?.required}">
                             <option value="">Select</option>
                             <option *ngFor="let item of values" [value]="item">{{item | currency:'USD'}}</option>
                         </select>
                        </div>
                           <small class="err" *ngIf="form.get('current_market_value').errors?.required">*Required</small>
                          
           
           
                         </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="input">
                            <span>Estimated Date of Repayment</span>
                            <datepicker formControlName="repayment_date"></datepicker>

                         
                           
                        </div>
                      <small class="err" *ngIf="form.get('repayment_date').errors?.required">*Required</small>
                      </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="input">
                            <span>Date of Funding</span>
                            <datepicker formControlName="funding_date" [readonly]="'true'"></datepicker>
                           
                          </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="input">
                            <span>Liquidity</span>
                            <input type="text" class="form-control" formControlName="liquidity"  readonly />
                          </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="input">
                            <span>FMV (409A) at Funding (PPS)</span>
                            <input type="text" class="form-control" formControlName="current409AValuation"  readonly />
                          </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="input">
                            <span>Last Round Valuation (PPS)</span>
                            <input type="text" class="form-control" formControlName="lastRoundValuation"  readonly />
                          </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="input">
                            <span>FDS Outstanding (MM)</span>
                            <input type="text" class="form-control" formControlName="fullyDilutedShareCount"  readonly />
                          </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="input">
                            <span>Collateral Shares</span>
                            <input type="text" class="form-control" formControlName="collateralShares"  readonly />
                          </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <div class="input">
                            <span>Est. Cost Basis of Shares</span>
                            <input type="text" class="form-control" formControlName="estCostBasisofShares"  readonly />
                          </div>
                    </div>
                </div>
                <div class="col-12"></div>
                <div class="col-12"></div>
                <div class="col-12"></div>
              </div>
            
             
            
           
             

           
           
            
             
           
             

              <!-- <div class="form-group">
                <label>Date of Funding</label>
                <input type="text" class="form-control" formControlName="funding_date" placeholder="22/11/2019" readonly />
              </div>
              <div class="form-group">
                <label>Collateral Shares</label>
                <input type="text" class="form-control" formControlName="collateral_shares"
                  placeholder="$100000" readonly />

              </div>
              <div class="form-group">
                <label>Est. Cost Basis of Shares</label>
                <input type="text" class="form-control" formControlName="cost_basis_shares"
                  placeholder="$0.01" readonly />

              </div>
              <div class="form-group">
                <label>FMV(409A) of Funding(PPS)</label>
                <input type="text" class="form-control" formControlName="fmv" placeholder="$10" readonly />

              </div>
              <div class="form-group">
                <label>Last Round Preffered(PPS)</label>
                <input type="text" class="form-control" formControlName="lst_round_prd"
                  placeholder="$20" readonly />

              </div>
              <div class="form-group">
                <label>FDS Outstanding(mm)</label>
                <input type="text" class="form-control" formControlName="fds_outstanding"
                  placeholder="100" readonly />

              </div> -->
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-9">

        <div class="d-flex flex-column h-100">
          <div class="flex-grow-0">
              <div class="border-shadow">
                  <div class="row no-gutters align-items-center">
                    <div class="col pl-4">
                      <div class="header-text">Net Worth Chart</div>
                    </div>
                    <div class="col-auto"><button class="btn btn-icon" (click)="changeView('1')" [ngClass]="(view=='1')?'btn-outline-primary':'btn-outline-grey'"><i
                          class="la la-chart-bar"></i></button></div>
                    <div class="col-auto pr-3 pl-2"><button class="btn btn-icon" (click)="changeView('2')" [ngClass]="(view=='2')?'btn-outline-primary':'btn-outline-grey'"><i
                          class="la la-border-all"></i></button></div>
                  </div>
                </div>
                <div class="bg-primary text-white">
                  <div class="row align-items-center text-center no-gutters">
                    <div class="col-md col-6 p-3">
                      <div>Estimate of Current Market Value of Common Stock(PPS)</div>
                      <div class="h5">{{form.get('current_market_value').value | currency:'USD'}}</div>
                    </div>
                    <div class="col-auto border-right border-alpha align-self-stretch d-none d-md-block"></div>
                    <div class="col-md col-6 p-3">
                      <div>Funding</div>
                      <div class="h5">{{stats.funding | currency:'USD'}}</div>
                    </div>
                    <div class="col-auto border-right border-alpha align-self-stretch d-none d-md-block"></div>
                    <div class="col-md col-6 p-3">
                      <div>Selling Shares</div>
                      <div class="h5">{{stats.selling_shares | currency:'USD'}}</div>
                    </div>
                    <div class="col-auto border-right border-alpha align-self-stretch d-none d-md-block"></div>
                    <div class="col-md col-6 p-3">
                      <div>Full Sale</div>
                      <div class="h5">{{stats.full_sale | currency:'USD'}}</div>
                    </div>
                  </div>
                </div>
          </div>
          <div class="flex-grow-1">
            <div class="h-100">
                <div [ngSwitch]="view" [@switch]="view">
                    <div *ngSwitchCase="1">
                      <highcharts-chart 
                      [Highcharts]="Highcharts"
                      [constructorType]="chartConstructor"
                      [(update)]="updateFromInput"
                      [oneToOne]="true"
                      [options]="chartOptions" style="width: 100%; height: 500px; display: block;"
                      ></highcharts-chart>
                    </div>
                    <div *ngSwitchCase="2">
                     <div class="table-responsive">
                      <table class="table border-bottom m-0" style="white-space: nowrap;">

                        <tr>
                          <th scope="col">Estimate of Current Market Value of Common Stock(PPS)</th>
                          <td scope="col" *ngFor="let item of values">{{item | currency:'USD'}}</td>
                        
                        </tr>

                        <tr>
                          <th scope="row">Funding</th>
                          <td scope="col" *ngFor="let item of chartData?.funding">{{item | currency:'USD'}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Selling Shares</th>
                          <td scope="col" *ngFor="let item of chartData?.selling_shares">{{item | currency:'USD'}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Full Sale</th>
                          <td scope="col" *ngFor="let item of chartData?.full_sale">{{item | currency:'USD'}}</td>
                        </tr>

                    </table>
                     </div>
                    </div>
                  </div>
            </div>
          </div>
          <div class="flex-grow-0">
              <div class="border-shadow py-2 px-4">
                  <div class="row">
                    <div class="col-md-auto my-2 my-md-0">
                      <a class="btn btn-lg btn-outline-grey btn-block" routerLink="../../learn-more">Learn More</a>
                    </div>
                    <div class="col-md-auto ml-md-auto my-2 my-md-0">
                        <a class="btn btn-lg btn-primary btn-block" routerLink="../liquid-solutions">Apply Now</a>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
