@import "../src/assets/scss/variables";
$btn-padding-x: 30px;
$btn-padding-y: 8px;
$btn-border-radius: 19px;
$btn-font-size: 14px;
$btn-line-height: 20px;
$input-font-size: 12px;
$input-padding-y: 9px;
$btn-padding-x-lg: 40px;
$btn-padding-y-lg: 14px;
$btn-border-radius-lg: 25px;
$btn-font-size-lg: 14px;
$btn-line-height-lg: 20px;
$input-font-size-lg: 14px;
$input-padding-y-lg: 10px;
$input-height-lg: 50px;
$btn-padding-x-sm: 20px;
$btn-padding-y-sm: 7px;
$btn-border-radius-sm: 15px;
$btn-font-size-sm: 12px;
$btn-line-height-sm: 16px;
$label-margin-bottom: 0.2rem;
$custom-control-gutter: 0.3rem;
$card-border-radius: 0px;
$card-border-color:$border-color;
$card-cap-bg: white;
$box-shadow-sm:$shadow;
$primary: $theme;
$dark: $bg-dark;
$theme-colors: (
  light: $grey
);
$theme-green: $theme;
@import url(./assets/fonts/d-din/d-din.css);
@import "~bootstrap/scss/bootstrap";
@import "~ngx-bootstrap/datepicker/bs-datepicker";
@import '~ngx-toastr/toastr-bs4-alert';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import "../src/assets/scss/global";


// *{
//   box-shadow: 0px 0px 0px 1px red;
// }




