.four-zero-four{
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/images/404.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}