
        <div class="card">
                <div class="card-header h5">
                    <div class="row align-items-center gutters-5">
                        <div class="col-auto">
                            <div class="special-badge text-uppercase">{{item?.companyName[0]}}</div>
                        </div>
                        <div class="col text-capitalize">
                            {{item?.companyName}}
                        </div>
                        <div class="col-auto"><a class="btn btn-icon btn-outline-grey" href="#" (click)="common.goBack($event)" ><i
                                    class="la la-arrow-left"></i></a></div>
                        <div class="col-auto">
                            <a class="btn btn-icon btn-outline-grey" href="#" routerLink="../../financial-information/{{item?._id}}"><i
                                    class="la la-pencil"></i></a>
                        </div>
                    </div>
                </div>
               <form [formGroup]="form">
                    <div class="row no-gutters grid text-center">
                            <div class="col-md-4 col-6 bg-light">
                                <label>Collateral Shares</label>
                                <h5 class="m-0">{{item?.collateralShares}}</h5>
                            </div>
                            <div class="col-md-4 col-6 bg-light">
                                <label>Est. Cost Basis of Shares</label>
                                <h5 class="m-0">{{item?.estCostBasisofShares | currency:'USD'}}</h5>
                            </div>
                            <div class="col-md-4 col-6 bg-light">
                                <label>FMV (409A) at Funding (PPS)</label>
                                <h5 class="m-0">{{item?.current409AValuation | currency:'USD'}}</h5>
                            </div>

                            <div class="col-md-4 col-6 bg-light">
                                <label>Last Round Valuation (PPS)</label>
                                <h5 class="m-0">{{item?.lastRoundValuation | currency:'USD'}}</h5>
                            </div>
                            <div class="col-md-4 col-6 bg-light">
                                <label>FDS Outstanding (MM)</label>
                                <h5 class="m-0">{{item?.fullyDilutedShareCount}}</h5>
                            </div>
                            
                            <div class="col-md-4 col-6 text-left">
                                    <div class="input-compact">
                                            <div class="input" [ngClass]="{invalid:form.get('funding_date').errors?.required && submitted}">
                                       
                                                    <span>Date of Funding</span>
                                                    <datepicker formControlName="funding_date"></datepicker>
                                                   </div>
                                                    <small class="err" *ngIf="form.get('funding_date').errors?.required && submitted">Required</small>
                                           
                                    </div>

                           
                                </div>
                                <div class="col-md-4 col-6 text-left">
                                        <div class="input-compact">
                                                <div class="input" [ngClass]="{invalid:form.get('liquidity').errors?.required && submitted}">
                                                        <span>Liquidity Desired</span>
                                                        <input type="text" class="form-control" formControlName="liquidity"  placeholder="Enter the Amount" />
                                                       </div>
                                              <small class="err" *ngIf="form.get('liquidity').errors?.required && submitted">Required</small>
                                        </div>
                              
                               
                              
                              </div>
                                <div class="col-md-4 col-6 text-left">
                                        <div class="input-compact">
                                                <div class="input" [ngClass]="{invalid:form.get('current_market_value').errors?.required && submitted}">
                                                        <span>Estimate of Current Market Value of Common Stock (PPS)</span>
                                                        <select class="custom-select" formControlName="current_market_value" >
                                                            <option value="">Select</option>
                                                           
                                                            <option *ngFor="let item of values" [value]="item">{{item | currency:'USD'}}</option>
                                                        </select>
                                                       </div>
                                                        <small class="err" *ngIf="form.get('current_market_value').errors?.required && submitted">Required</small>
                                               
                                        </div>
                            
                                 
                                </div>
                                <div class="col-md-4 col-6 text-left">
                                    <div class="input-compact">
                                            <div class="input" [ngClass]="{invalid:form.get('repayment_date').errors?.required && submitted}">
                                                    <span>Estimated Date of Repayment</span>
                                                    <datepicker formControlName="repayment_date" [minDate]="form.get('funding_date').value"></datepicker>
                                                </div>
                                                <small class="err" *ngIf="form.get('repayment_date').errors?.required && submitted">Required</small>
                                       
                                    </div>
                                
                                  
                                </div>
                        </div>
                            <div class="row no-gutters grid">

                           
                        </div>
               </form>
                <div class="card-body py-md-5">


                    <div class="row justify-content-center">
                        <div class="col-4 col-xl-3 my-2 my-md-0">
                            <a href="#" class="bg-primary rounded p-4 text-center text-white d-block h-100" (click)="go($event)">
                                <h4>Funding Analysis</h4>
                                <div class="my-3"><img height="80" src="assets/images/financial.svg" /></div>
                                <p>Assess Your Exercise Report</p>
                                <div>Costs to Exercise</div>
                                <h4>$4,196,149</h4>
                            </a>
                        </div>
                        <div class="col-4 col-xl-3 my-2 my-md-0">
                            <a class="bg-danger rounded p-4 text-center text-white d-block in-active h-100">
                                <h4>Tax Analysis</h4>
                                <div class="my-3"><img height="80" src="assets/images/taxation.svg" /></div>
                                <p>Understand Your Future Value</p>
                                <!-- <div>Savings Possible</div> -->
                                <h4>Coming Soon</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
